* {
  font-family: Arial, Helvetica, sans-serif;
}
#leftside {
  float:left;
  width: 30%;
  min-height: 1450px;
  background-color:rgb(77, 192, 154);
}
#rightside {
  float:left;
  width: 70%;
  min-height: 1450px;
  background-color:rgb(238, 226, 192);
  position:relative;
}
#container {
  background-color:rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 10%;
  left: 15%;
  right: 20%;
  min-width: 1100px;
  min-height: 1250px;
  border-radius: 0.9em;
}
header {
  height: 100px;
  background-color:rgba(231, 229, 229, 0.5);
  font-size: 2.75em;
  padding:0.5em;
  color:rgb(216, 150, 7);
}
header span {
  font-family: 'Sacramento', cursive;
}
nav ul {
  list-style: none;
  display: flex;
  margin-top: -50px;
  margin-left: 250px;
  padding: 50;
}

nav li {
  margin-right: 20px;
  font-size: 16px;
}

nav a {
  font-size: large;
  text-decoration: none;
  color: #e69224;
  transition: color 0.3s;
}

nav a:hover {
  color: #7eda6c; /* Color when hovering over a link */
}
main {
  position: relative;
}
main h2 {
  position: absolute;
  left: 20%;
  top: 80px;
  margin: 25px 0 200px 10px;
  color:rgb(60, 190, 160);
  text-transform: uppercase;
}
main #photos img {
  margin: 0.75em;
  border: 0.85em solid rgb(255, 255, 255);
}
section #blogposts {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 70px;
  padding: 50px;
}
main .post {
  margin: 0px 100px 20px 250px;
  padding: 25px;
  border: 2px solid rgba(83, 78, 58, 0.6);
  border-radius: 0.5em;
}
.profile-picture {
  width: 45px;
  height: 35px;
}
.author-info-box {
  width: 320px;
  height: 380px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #232121ed;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  border-radius: 0.9em;
}
.author-info-box h3 {
  color: aliceblue;
  margin-top: 10px;
  font-size: 38px;
}
.author-info-box p {
  color: aliceblue;
  margin-top: 10px;
  font-size: 18px;
}
.close-button {
  position: absolute;
  background-color: aliceblue;
  color: black;
  bottom: 10px;
  left: 30px;
  cursor: pointer;
}
.x-button {
  position: absolute;
  color: aliceblue;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 0.85em;
}